
      <div class="authOptions">
        <h1>View Post</h1>
        <a role="button" href="/posts">Home</a>
      </div>
      <div>
        <p>Implement this page yourself. It is from individualPost.ejs</p>
      </div>
   
