<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Homepage</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>Reddit Copy</h1>
        
        <div>
        <% if (home){%>
        <a role="button" href="/posts">Home</a>
        <% } %>
        <% if (logged){%>
        <% if (!user) { %>
        <a role="button" href="/auth/login">Login</a>
        <% } else { %>
          
        <a role="button" href="/auth/logout">Logout</a>
        <% } %>
        <% } %>
      </div>
      </div>
      <% if (user) { %>
      <p><em><%=user.uname%></em></p>
      <% } %>
        <div class="container"><%- body %></div>
  </body>
</html>

