
      <div class="authOptions">
        <h1>Sub Posts</h1>
      
      </div>
      <hr><hr>
        <div>
         
          <% posts.forEach(post => { %>
            <div class="individualPost">
              <a href="/posts/show/<%=post.id%>"><%= post.title %></a>
              <p><%= post.description %><br>Posted by: <%= post.creator.uname %></p>
              <hr>
            </div>
          <% }) %>
        </div>
        <hr>
    
  