
      <div class="authOptions">
        <h1>Sub Groups</h1>
        <a role="button" href="/posts">Home</a>
      </div>
      <div>
        <p>Implement this page yourself. It is from subs.ejs</p>
      </div>
    
