<div class="authOptions">
  <h1>Sub Groups</h1>
</div>
<hr><hr>
<div class="individualSub">
  <ul>
    <% subs.forEach(sub => { %>

    <li>
      <a href="/subs/show/<%=sub%>"><%= sub %></a>
    </li>

    <% }) %>
  </ul>
  <hr>
</div>
