.authOptions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.authOptions a{
  /** modified this */
  width:150px;
  height: 36px;
  padding: 0px;
  font-size: 20px;
}


.danger {
  background-color: red;
  color: white;
}

#commentbox{
  width: 91%;
  height:50px;
  font-size: 15px;

}

.postdetails p{
  font-size: 12px;
  margin-bottom: 0px;
}


.indvpost form{
  margin-bottom: 0px;
}
.indvpost h3{
  font-size: 30px;
  margin-bottom: 0px;
}

.indvpost h4{
  font-size: 20px;
  margin-bottom: 5px;
}

.indvpost .comments td{
  font-size: 15px;
  border-bottom: 0px;
  padding: 0px;

  
}

.indvpost .commenttable{
  margin-bottom: 0px;}

.indvpost .comments button{
  float: right;
  width:58px;
  height: 28px;
  padding: 0px;
  font-size: 15px;
  margin: 5px;
}

.post-actions form {
  display: inline-block;
  width: 200px;
  margin-right: 16px;
}

.button-container {
  display: flex;
  justify-content: start; 
  gap: 16px;
}

.vote-buttons {
  display: flex;
  align-items: baseline;
}

.vote-buttons .vote-count {
  margin-right: 20px;
}

.vote-buttons button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  color: #333; 
}

.vote-buttons button:focus {
  outline: none;
}

.active-vote{
  color: #1095c1
}


.rplydiv p{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  margin-bottom: 0px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  margin-left: auto; 
}


